<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Detalle de ingreso egreso</h4>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Monto</th>
                            <th>Tipo</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let incomeOutcomeItem of this.incomeOutcomeItems | ordenIngresoEgreso">
                            <td class="valign-mid">{{ incomeOutcomeItem.description }}</td>
                            <td class="valign-mid">{{ incomeOutcomeItem.amount | currency }}</td>
                            <td class="valign-mid">
                                <span [ngClass]="{
                                        'text-success': incomeOutcomeItem.type == 'ingreso',
                                        'text-danger' : incomeOutcomeItem.type == 'egreso'
                                }">
                                    {{ incomeOutcomeItem.type | uppercase }}
                                </span>

                            </td>
                            <td class="valign-mid">
                                <button #cmdEliminar
                                    (click)="cmdEliminar_click(incomeOutcomeItem)"
                                    class="btn btn-danger btn-sm">
                                    <i class="fa fa-trash"></i>
                                    Eliminar
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
